# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/RSCL - Server/Server/nbproject/private/
/RSCL - Server/Server/build/
/RSCL - Server/Server/dist/
/RSCL - PC_Client/nbproject/private/
/RSCL - PC_Client/build/
/RSCL - Client_Base/nbproject/private/
/RSCL - Client_Base/build/
/RSCL - Client_Base/dist/
/WK Client Core/nbproject/private/
/RSCL - Server/WK Server/nbproject/private/
/RSCL - Launcher/nbproject/private/
/RSCL - Launcher/dist/
/RSCL - Launcher/build/
/RSCL - WebLoader/nbproject/private/
/website/nbproject/private/