# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Mac DS_Store
.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PC_Client/nbproject/private/
/PC_Client/build/
/Launcher/nbproject/private/
/Launcher/dist/
/Launcher/build/
/html/nbproject/private/
/Client/nbproject/private/
/Client/dist/
/WebLoader/build/
/WebLoader/dist/
/WebLoader/nbproject/private/
/Server/build/
/Server/dist/
/Server/nbproject/private/
